<div class="custom-container">
  <div class="alert alert-success" role="alert">
    User Task Queue Management
  </div>

  <div class="table-container">
      <table class="table table-bordered table-hover">
          
          <thead class="thead-dark">
            <tr>
              <th *ngFor="let heading of headings; let i = index" >
                {{ heading }}
              </th>
              <th>
                Done
              </th>
            </tr>
          </thead>
      
          <tbody>
            
            <tr *ngFor="let row of workers; let i = index">
              <td>{{ row.name }}</td>
              <td>{{ row.estimatedTime }} seconds</td>
              <td>{{ row.timeLeft }} seconds</td>
              <td>{{ row.testingDescription }}</td>
              <td>{{ row.completed }}</td>
              <td>{{ row.tat }} seconds</td>
              
              <td>
                <button type="button" class="btn btn-outline-dark" (click)="testingCompleted(i)" [disabled]="disableTestingCompletedButton[i]">Testing Completed</button>
              </td>
            </tr>
      
          </tbody>
      
      </table>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="name" aria-label="name" [(ngModel)]="name">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="description" aria-label="name" [(ngModel)]="testingDescriptionInput">
      </div>

      <div class="col-sm-3">
        <select class="form-select" id="selectedtimer" [(ngModel)]="selectedTimeOption">
          <option value="select" disabled selected>Select</option>
          <option value="5min">5 Min</option>
          <option value="10min">10 Min</option>
          <option value="15min">15 Min</option>
          <option value="30min">30 Min</option>
          <option value="60min">60 Min</option>
          <option value="4hour">4 Hours</option>
          <option value="6hour">6 Hours</option>
          <!-- Add more options as needed -->
        </select>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-outline-dark" (click)="addTestingUser()">Add Me</button>
      </div>
      
    </div>
  </div>  



  <div class="alert alert-danger" role="alert" style="text-align: center; align-content: flex-end;">
    Please do not refresh the page!
  </div>